{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div style="background: url('{% static 'images/main_back.jpg' %}'); background-size: auto;">
        <div class="container p-5 profile">
            <div class="row gutters">
                <!-- profile summary -->
                <div
                        class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-2 profile-summary"
                >
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile">
                                    <div class="user-avatar">
                                        <img
                                                src="{{ user.profile_pic.url }}"
                                                alt="Maxwell Admin"
                                                id="frame"
                                        />
                                    </div>
                                    <h5 class="user-name">{{ user.first_name }} {{ user.last_name }}</h5>
                                    <h6 class="user-email">{{ user.email }}</h6>
                                </div>
                                <div class="about">
                                    <h5>Personal info</h5>
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="mb-0">Username</p>
                                            </div>
                                            <div class="col text-secondary offset-sm-1">
                                                {{ user.username }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <p class="mb-0">Full Name</p>
                                            </div>
                                            <div class="col text-secondary offset-sm-1">
                                                {{ user.first_name }} {{ user.last_name }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col text-secondary">{{ user.email }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <p class="mb-0">Nic</p>
                                            </div>
                                            <div class="col text-secondary">{{ user.nic }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <p class="mb-0">Contact </p>
                                            </div>
                                            <div class="col text-secondary">{{ user.telephone }}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <p class="mb-0">Address</p>
                                            </div>
                                            <div class="col text-secondary">
                                                {{ user.street }},
                                                {{ user.city }},
                                                {{ user.state }},
                                                {{ user.zipcode }}.
                                            </div>
                                        </div>
                                        <hr>
                                        <h5>Interests</h5>
                                        <div class="row">
                                            <div class="col-sm">
                                                <p class="mb-0">
                                                    <span class="badge bg-primary">#posters</span>
                                                    <span class="badge bg-primary">#post_cards</span>
                                                    <span class="badge bg-primary">#posters</span>
                                                    <span class="badge bg-primary">#post_cards</span>
                                                    <span class="badge bg-primary">#posters</span>
                                                    <span class="badge bg-primary">#post_cards</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- profile edit  -->
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <nav>
                                <div class="nav nav-tabs flex" id="nav-tab" role="tablist">

                                    <a
                                            class="nav-item nav-link active"
                                            id="nav-password-tab"
                                            data-toggle="tab"
                                            href="#nav-password"
                                            role="tab"
                                            aria-controls="nav-password"
                                            aria-selected="false"
                                            style="padding-right: 5px; padding-left: 5px;"
                                    >Change password</a
                                    >
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <!-- change password -->
                                <div
                                        class="tab-pane fadeshow active pt-5"
                                        id="nav-password"
                                        role="tabpanel"
                                        aria-labelledby="nav-password-tab"
                                >
                                    <div class="col col-sm-6 m-auto align-middle">
                                        <form method="post" action="" novalidate>
                                            <h4>Set new password</h4>
                                            <hr class="mb-4">
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class="form-group mb-3">
                                                    <label class="mb-2" for="{{ field.auto_id }}">
                                                        {{ field.label }}
                                                    </label>
                                                    {% if field.errors %}
                                                        {% render_field field class="form-control is-invalid" placeholder=field.label %}
                                                    {% else %}
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                    {% endif %}
                                                    <div class="invalid-feedback">
                                                        {{ field.help_text }}
                                                        {% for error in field.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}

                                             {%  if form.errors %}
                                                 <div class="alert alert-primary" role="alert">
                                                    {%  for field in form %}
                                                        <small>
                                                            {{ field.help_text }}
                                                        </small>
                                                    {% endfor %}
                                                 </div>
                                            {% endif %}

                                            <div class="row mb-1">
                                                <button type="submit" name="changepassword" class="btn btn-primary mt-3">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/profile.js' %}"></script>

{% endblock %}
