{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div style="background: url('{% static 'images/main_back.jpg' %}'); background-size: auto;">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="container justify-content-center">
                    <div class="login col-lg-5 rounded border mb-5 mt-5"
                         style="background: url('{% static 'images/auth/login_back.png' %}'); margin-bottom: 100px;">
                        <div class="text-center">
                            <img class="rounded-circle border mt-5 mb-3" src="{% static 'images/auth/login_logo.jpg' %}"
                                 alt="" width="72"
                                 height="72">
                        </div>
                        <div class="login-inner border p-3 mb-5 mt-5 rounded">
                            <form class="form-signin" method="post">
                                {% csrf_token %}
                                <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
                                <div class="form-group mb-3">
                                    <label class="mb-2" for="email">{{ form.email.label }}</label>
                                    {% render_field form.email class="form-control" placeholder=form.email.label %}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group mb-3 text-center">
                                    <p>
                                        <small>
                                            By clicking "Reset Password" we will send a password reset link
                                        </small>
                                    </p>
                                </div>
                                <div class="form-group mt-2">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block col-12">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}