{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div style="background: url('{% static 'images/main_back.jpg' %}'); background-size: auto;">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="container justify-content-center">
                    <div class="login col-lg-5 rounded border mb-5 mt-5"
                         style="background: url('{% static 'images/auth/login_back.png' %}')">
                        <div class="text-center">
                            <img class="rounded-circle border mt-5 mb-5" src="{% static 'images/auth/login_logo.jpg' %}"
                                 alt="" width="72"
                                 height="72">
                        </div>
                        <div class="login-inner border p-3 pt-4 rounded">
                            {% if validlink %}
                                <form class="form-signin" method="post">
                                    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group mb-3">
                                            <label class="mb-2" for="password1">{{ field.label }}
                                            </label>
                                            {% if field.errors %}
                                                {% render_field field class="form-control is-invalid" %}
                                            {% else %}
                                                {% render_field field class="form-control" %}
                                            {% endif %}
                                            <div class="invalid-feedback">
                                                {% for error in field.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="form-group mt-2 mb-3">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block col-12">
                                            Reset Password
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <h1 class="h3 mb-5 mt-5 font-weight-normal">Invalid Token Detected!</h1>
                                <p class="mb-5">
                                    <small>
                                        The password reset link was invalid, possibly because it has already been used.
                                        Please request a new password reset.
                                    </small>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}