{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <!-- Checkout form -->
    <div
            class="pt-5 pb-5"
            style="background: url('{% static 'images/main_back.jpg' %}'); background-size: auto"
    >
        <div class="container" id="checkout">
            <div class="row mt-3">
                <!-- cart summary -->
                <div class="col-sm bg-light border rounded cart-summary me-2">
                    <h4 class="mb-4">
                        Your Cart <span
                            class="badge rounded-pill text-dark">    {{ cart.0.cartitem_set.all.count }}</span></h4>
                    <ul class="list-group mb-3 z-depth-1">
                        {% for item in cart.0.cartitem_set.all %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{ item.service }}</h6>
                                    <small class="text-muted module checkout-fades">{{ item.service.desc|truncatechars:30 }} </small>
                                </div>
                                <span class="text-muted">{{ item.get_total_for_item }}</span>
                            </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between border-1">
                            <h5 class="font-weight-bold">Total (USD)</h5>
                            <strong class="text-dark h6">{{ cart.0.get_cart_total }}</strong>
                        </li>
                    </ul>
                </div>
                <!-- checkout form -->
                <div class="col-sm-8 bg-light border rounded mt-2 mt-sm-0" id="checkoutForm">
                    <h4 class="font-weight-bold border-bottom">Delivery Details</h4>
                    <form method="post" class="checkout-form" novalidate>
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="{{ delivery_form.street.auto_id }}">{{ delivery_form.street.label }}</label>
                                {% if delivery_form.street.errors %}
                                    {% render_field delivery_form.street class="form-control is-invalid" %}
                                    <div class="invalid-feedback">
                                        {% for error in delivery_form.street.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field delivery_form.street class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ delivery_form.city.auto_id }}">{{ delivery_form.city.label }}</label>
                                {% if delivery_form.city.errors %}
                                    {% render_field delivery_form.city class="form-control is-invalid" %}
                                    <div class="invalid-feedback">
                                        {% for error in delivery_form.city.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field delivery_form.city class="form-control" %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="{{ delivery_form.state.auto_id }}">{{ delivery_form.state.label }}</label>
                                {% if delivery_form.state.errors %}
                                    {% render_field delivery_form.state class="form-control is-invalid" %}
                                    <div class="invalid-feedback">
                                        {% for error in delivery_form.state.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field delivery_form.state class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                <label for="{{ delivery_form.zipcode.auto_id }}">{{ delivery_form.zipcode.label }}</label>
                                {% if delivery_form.zipcode.errors %}
                                    {% render_field delivery_form.zipcode class="form-control is-invalid" %}
                                    <div class="invalid-feedback">
                                        {% for error in delivery_form.zipcode.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field delivery_form.zipcode class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <label for="{{ delivery_form.telephone.auto_id }}">{{ delivery_form.telephone.label }}</label>
                                {% if delivery_form.telephone.errors %}
                                    {% render_field delivery_form.telephone class="form-control is-invalid" %}
                                    <div class="invalid-feedback">
                                        {% for error in delivery_form.telephone.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field delivery_form.telephone class="form-control" %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <h6>Payment method</h6>
                                {% if delivery_form.payment_method.errors %}
                                    {% render_field delivery_form.payment_method class="form-control is-invalid" %}
                                    <div class="invalid-feedback">
                                        {% for error in delivery_form.payment_method.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field delivery_form.payment_method class="form-control" %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 text-center d-grid ph-btn border-top">
                            <button type="submit" class="btn btn-primary btn-block payhere-payment mt-4"
                                    id="payhere-payment"
                                    name="checkout_btn">Proceed to pay
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}